@use '../../scss/variables.scss' as *;

@keyframes slide-in {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px; 
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    max-height: 500px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.appartement-pagedescription {
  margin-bottom: 1rem;
  flex-basis: 50%;

  .descriptionheader {
    background-color: $color-primary;
    color: $grid-bg-light;
    padding: 0.5em 1em;
    border-radius: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .description__content {
    background-color: $background-light;
    color: $color-primary;
    border-radius: 0.7rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: ease-in-out;

		&.slide-in {
		animation: slide-in 0.5s forwards;
		}

		&.slide-out {
		animation: slide-out 0.3s forwards;
		}

    .description__inner {
      padding: 2rem;
    }
  }
}