@use "../../scss/variables.scss" as *;

.grid {
	background-color: $grid-bg-dark;
	min-height: 50vh;
	border-radius: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 3rem;
	justify-content: space-between;
		@media screen and ( width <= 768px) {
				justify-content: center;
				background-color: $grid-bg-light;
				padding: 0;
		}
}


