@use '../../scss/variables.scss' as *;

.apartement-page__header {
	display: flex;
	margin-bottom: 2rem;
		@media screen and (width <= 768px){
			flex-direction: column;
		}
		.apartement-title {
			flex-grow: 1;
		}
		.apartement-tags {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(100px, 116px));
			gap: 1rem;
			margin-top: 15px;
				span {
					background-color: $color-primary;
					color: $grid-bg-light;
					padding: 0.3em 0.5em;
					border-radius: 0.7rem;
					text-align: center;
					font-weight: 300;
					font-size: 13px;
				}
		}
		h1 {
			font-weight: 400px;
			margin-block: 0;
		}
		h2 {
			font-weight: 400px;
			margin-top: 0.5rem;
			margin-bottom: 0.2rem;
			font-size: 20px;
		}
		h3 {
			margin-block: 0;
			display: flex;
			flex-direction: column;
			align-items: end;
			font-weight: 400px;
		}
		.appartement-page__owner {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
				@media screen and (width <= 768px){
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					margin-block: 2rem;
				}
				.apartement-details {
					display: flex;
					gap: 0.5rem;
					@media screen and (width <= 768px){
						order: 1;
					}
						.appartement-badge img {
							height: 50px;
							width: 50px;
							border-radius: 50px;
							background-color: $grid-bg-dark;
						}
				}
				.appartement-stars {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.2rem;
					font-size: 2rem;
					margin-top: 4px;
					color: $grid-bg-dark;
						.on {
							color: $color-primary;
						}
				}
		}
}